<div id="mw-navigation">
  <div id="mw-panel">
    <div id="p-logo" role="banner">
      <a class="mw-wiki-logo" href="https://wiki.dingoonity.org" title="Visit the main page"></a>
    </div>
    <div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
      <h3 id="p-navigation-label">Navigation</h3>
      <div class="body">
        <ul>
          <li>
            <a href="https://boards.dingoonity.org">Boards</a>
          </li>
          <li>
            <a href="https://wiki.dingoonity.org">Wiki</a>
          </li>
          <li>
            <a href="https://github.com/omgmog/wiki.dingoonity.org">Wiki source on Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
