{% extends 'base.twig' %}



{% block content %}

    <ul>
        <li> <a href="/{{ page.base }}?title=Multiplatform_Dingoo_SDK&amp;action=edit&amp;redlink=1" class="new" title="Multiplatform Dingoo SDK (page does not exist)">Multiplatform Dingoo SDK</a>
        </li>
        <li> <a href="/{{ page.base }}?title=S2DSDK&amp;action=edit&amp;redlink=1" class="new" title="S2DSDK (page does not exist)">S2DSDK</a>
        </li>
        <li> <a href="http://www.megaupload.com/?d=A3XNJVP4" class="external text" rel="nofollow">AniMaker 0.2</a> Updated version of Ani. Allows you to make your own Dingoo animated boot/log off screens.
        </li>
    </ul>




{% endblock %}
