{% extends 'base.twig' %}



{% block content %}

    <p>List of tutorials:
    </p>
    <ul>
        <li> <a href="/{{ page.base }}?title=Dingux:About#Linux.2FOS_X_Instructions" title="Dingux:About">Setting up Dingux from Linux or OS X</a>
        </li>
        <li> <a href="/{{ page.base }}?title=Dingux:About#Windows_Instructions" title="Dingux:About">Setting up Dingux from Windows</a>
        </li>
        <li> <a href="/{{ page.base }}?title=Dingux:Tutorials:USB_Networking&amp;action=edit&amp;redlink=1" class="new" title="Dingux:Tutorials:USB Networking (page does not exist)">USB Networking</a>
        </li>
    </ul>




{% endblock %}
