{% extends 'base.twig' %}



{% block content %}

    <div class="floatright"><a href="/{{ page.base }}?title=File:Gmenu2X.png" class="image" title="Dingoo-Linux"><img alt="Dingoo-Linux" src="/images/thumb/1/1f/Gmenu2X.png/300px-Gmenu2X.png" width="300" height="225" /></a></div>
    <p><a href="/{{ page.base }}?title=Gmenu2x" title="Gmenu2x"> GMenu2X</a> is a frontend application targeted at embedded devices, originally developed for the GP2X and successively ported to other devices. GMenu2X provides an easy to use interface with quick access to the games and applications of the device trough links similar to those found on PC's desktops. Its interface is fully customizable with skins. Other features include: built-in selector for emulators, manuals and readmes integration, built-in overclocker, gamma and volume configuration, ram timings tweaker.
    </p>
    <div align="right" style="clear:both; margin-right: 15px"><a href="/{{ page.base }}?title=Previously_featured_applications&amp;action=edit&amp;redlink=1" class="new" title="Previously featured applications (page does not exist)">Previous applications</a> • <a href="/{{ page.base }}?title=Talk:Featured_applications&amp;action=edit&amp;redlink=1" class="new" title="Talk:Featured applications (page does not exist)">Suggest an application</a></div>




{% endblock %}
