{% extends 'base.twig' %}



{% block content %}

    <h3> <span class="mw-headline" id="Heroes_Of_Might_And_Magic_II_on_Dingoo_A320">Heroes Of Might And Magic II on Dingoo A320</span></h3>
    <div class="floatright"><a href="/{{ page.base }}?title=File:Fheroes.png" class="image" title="Heroes of Might and Magic an Dingoo A320"><img alt="Heroes of Might and Magic an Dingoo A320" src="/images/thumb/d/d8/Fheroes.png/200px-Fheroes.png" width="200" height="150" /></a></div>
    <p>There are 2 ports of this game: <a href="http://tinyurl.com/7b7wus9" class="external free" rel="nofollow">http://tinyurl.com/7b7wus9</a> <br /><br /> 1. By Zear (the older one):<br /> 2. The newer one on Open Dingux&nbsp;: <a href="http://rghost.net/35844302" class="external free" rel="nofollow">http://rghost.net/35844302</a> , <a href="http://boards.dingoonity.org/dingux-releases/free-heroes2-engine-%28v-0-1-r2693%29-for-opendingux/" class="external free" rel="nofollow">http://boards.dingoonity.org/dingux-releases/free-heroes2-engine-%28v-0-1-r2693%29-for-opendingux/</a>
    </p>
    <p>Here you can see the fight between the older version and the newer one .
    </p>
    <p><big>VIDEO:
<a href="http://www.youtube.com/embed/VVBrP5b_CN8" class="external free" rel="nofollow">http://www.youtube.com/embed/VVBrP5b_CN8</a></big><br />
    </p>
    <p>Dingux version&nbsp;: Open Dingux
    </p>
    <p>Clock&nbsp;: 336
    </p>
    <p>Old&nbsp;: <br />
    </p>
    <p>+ Accurate mouse , working sound , bit faster when the LOW MEMORY and VERY SLOW are checked.
    </p>
    <p>- The mouse is SLOW, SLOW, SLOW
    </p>
    <p>New&nbsp;:<br />
    </p>
    <p>+ Fast mouse, improved menu ,
    </p>
    <p>- Not accurate mouse (you get used to) , no sound (yet)
    </p>
    <p>Solution: The old one works fine and the mouse is more accurate but the newer version is just BETTER!
    </p>
    <p>Both work VERY nicely.
    </p>
    <p>Smida3
    </p>



{% endblock %}
