{% extends 'base.twig' %}



{% block content %}

    <h2> <span class="mw-headline" id="Working_Applications_for_OpenDingux"> <b>Working Applications for OpenDingux</b> </span></h2>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> (Port) Author
            </th>
            <th> Download
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Dingux_Commander&amp;action=edit&amp;redlink=1" class="new" title="Dingux Commander (page does not exist)">Dingux Commander</a>
            </td>
            <td> A simple file manager for Dingux, in 'commander' style
            </td>
            <td> Mia
            </td>
            <td> <a href="http://beyondds.free.fr/index.php?Dingoo-dinguxcommander" class="external text" rel="nofollow">Mia's blog</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=GMU&amp;action=edit&amp;redlink=1" class="new" title="GMU (page does not exist)">GMU</a>
            </td>
            <td> Music player, port of GMU from the GP2X to the Dingoo A320
            </td>
            <td> wejp
            </td>
            <td> <a href="http://wejp.k.vu/projects/gmu" class="external text" rel="nofollow">wejp project page</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Radio_Player&amp;action=edit&amp;redlink=1" class="new" title="Radio Player (page does not exist)">Radio Player</a>
            </td>
            <td> FM Radio Player with a simple interface abd very fast
            </td>
            <td> Marcos Souza
            </td>
            <td> <a href="https://github.com/downloads/marcosps/radio_player/radio_player_v0.2.1.tar.gz" class="external text" rel="nofollow">radio_player_v0.2.1.tar.gz</a>
            </td>
        </tr>
    </table>




{% endblock %}
