{% extends 'base.twig' %}



{% block content %}

    <div class="thumb tright">
        <div class="thumbinner" style="width:242px;"><a href="/{{ page.base }}?title=File:GPD-G7-Fullshot.jpg" class="image"><img alt="" src="/images/thumb/a/aa/GPD-G7-Fullshot.jpg/240px-GPD-G7-Fullshot.jpg" width="240" height="143" class="thumbimage" /></a>
            <div class="thumbcaption">
                <div class="magnify"><a href="/{{ page.base }}?title=File:GPD-G7-Fullshot.jpg" class="internal" title="Enlarge"><img src="/skins/common/images/magnify-clip.png" width="15" height="11" alt="" /></a></div>GPD G7 tablet</div>
        </div>
    </div>
    <p>The <a href="http://www.gpd.hk/product/showproduct.php?lang=en&amp;id=46" class="external text" rel="nofollow">GPD G7</a> is a quad-core, 7-inch Android tablet and portable game console produced by Chinese manufacturer <a href="http://www.gpd.hk/about/" class="external text" rel="nofollow">GamePad Digital</a>.
    </p>
    <h2> <span class="mw-headline" id="Hardware">Hardware</span></h2>
    <table class="wikitable">

        <tr>
            <td><b>CPU</b> </td>
            <td> RockChip 3188, Quad Core, 1.6 GHz
            </td>
        </tr>
        <tr>
            <td><b>GPU</b> </td>
            <td> <a href="https://en.wikipedia.org/wiki/Mali_%28GPU%29" class="external text" rel="nofollow">Mali 400</a> Dual core
            </td>
        </tr>
        <tr>
            <td><b>RAM</b> </td>
            <td> 1 GB DDR3
            </td>
        </tr>
        <tr>
            <td><b>Internal Memory</b> </td>
            <td> 8 GB
            </td>
        </tr>
        <tr>
            <td><b>Expansion Slot</b> </td>
            <td> MicroSDHC Card
            </td>
        </tr>
        <tr>
            <td><b>Display</b> </td>
            <td> 7" IPS TFT, with a maximum resolution of <a href="https://en.wikipedia.org/wiki/Graphics_display_resolution#WSVGA_.281024x576.2F600.29" class="external text" rel="nofollow">1024x600</a>
            </td>
        </tr>
        <tr>
            <td><b>Battery</b> </td>
            <td>5000 mAh lithium-polymer
            </td>
        </tr>
        <tr>
            <td><b>Audio Output</b> </td>
            <td> Stereo speakers, 3.5 mm headphone jack
            </td>
        </tr>
        <tr>
            <td><b>Display Output</b> </td>
            <td> micro HDMI <a href="https://en.wikipedia.org/wiki/Graphics_display_resolution#FHD_.281920.C3.971080.29" class="external text" rel="nofollow">1920x1080</a>
            </td>
        </tr>
        <tr>
            <td><b>Input</b> </td>
            <td> 5-point touchscreen, direction buttons, game buttons, left and right joysticks, function buttons, microphone, gravity sensor
            </td>
        </tr>
        <tr>
            <td><b>OTG</b> </td>
            <td> Allows for the connection of keyboard, mouse, ethernet, 3G dongle, USB disk and powered external hard disk
            </td>
        </tr>
        <tr>
            <td><b>Dimensions</b> </td>
            <td> Length: 245 mm (9.6 inches) Width: 120.5 mm (4.7 inches) Depth: 16.5 mm (0.64 inches)
            </td>
        </tr>
        <tr>
            <td><b>Weight</b> </td>
            <td> 487 grams (1 pounds)
            </td>
        </tr>
    </table>
    <h2> <span class="mw-headline" id="Emulation">Emulation</span></h2>
    <p>An overview of emulation on android devices is covered <a href="http://boards.dingoonity.org/android-devices/android-emulator-overview-share-your-preferred-setup/in" class="external text" rel="nofollow">this thread</a>.
    </p>
    <h2> <span class="mw-headline" id="Useful_apps">Useful apps</span></h2>
    <ul>
        <li><a href="http://www.libretro.com/" class="external text" rel="nofollow">Retroarch</a> emulation
        </li>
        <li><a href="https://play.google.com/store/apps/details?id=com.tincore.and.keymapper&amp;hl=en" class="external text" rel="nofollow">Tincore</a> keymapper
        </li>
        <li><a href="https://play.google.com/store/apps/details?id=eu.chainfire.supersu&amp;hl=en" class="external text" rel="nofollow">SuperSU</a> root access management
        </li>
        <li><a href="https://play.google.com/store/apps/details?id=ch.amana.android.cputuner&amp;hl=en" class="external text" rel="nofollow">CPU Tuner</a> battery saver
        </li>
    </ul>




{% endblock %}
